.board {
	position: relative;
}

.fields,
.meta {
	display: grid;
	grid-template:
		repeat(var(--height), var(--field-size))
		/ repeat(var(--width), var(--field-size));
	gap: 3px;
}

.meta {
	position: absolute;
	top: 0;
	left: 0;
}
