.board {
	--border-size-visible: 16px;
	--wall-halfGap: 4px;
	--border-size: calc(
		var(--border-size-visible) + var(--wall-halfGap) + var(--spacing)
	);
	overflow: hidden;
	position: relative;
	width: 100%;
	flex-grow: 1;
	touch-action: none;
}

.outer {
	position: absolute;
	top: var(--border-size);
	left: var(--border-size);
	bottom: var(--border-size);
	right: var(--border-size);
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.inner {
	display: inline-block;
	position: relative;
	transform: scale(var(--scale))
		translate(calc(1px * var(--offset-x)), calc(1px * var(--offset-y)));
	transition-property: transform;
	transition-duration: calc(
		var(--allowTransitions) * 5 * var(--transition-duration-base)
	);
}

.inner::before {
	content: '';
	border: var(--border-size-visible) solid;
	position: absolute;
	top: calc(-1 * var(--border-size-visible) - var(--wall-halfGap));
	bottom: calc(-1 * var(--border-size-visible) - var(--wall-halfGap));
	left: calc(-1 * var(--border-size-visible) - var(--wall-halfGap));
	right: calc(-1 * var(--border-size-visible) - var(--wall-halfGap));
	background-color: var(--background-color);
}

.fields,
.meta {
	display: grid;
	grid-template:
		repeat(var(--height), var(--field-size))
		/ repeat(var(--width), var(--field-size));
}

.meta {
	position: absolute;
	top: 0;
	left: 0;
}
