.controls {
	--halfGap: 4px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: var(--halfGap) 0;
	margin: 0 calc(-1 * var(--halfGap));
}

@media (max-width: 499px) {
	.controls:not(:empty) {
		min-height: 108px;
	}
}

.action {
	padding: var(--halfGap);
	min-width: 100px;
	width: 50%;
}

@media (min-width: 500px) {
	.action {
		width: auto;
	}
}
