.field {
	position: relative;
	transition-property: opacity;
	transition-duration: calc(5 * var(--transition-duration-base));
	display: flex;
	justify-content: center;
	align-items: center;
}

.field.isVisited {
	opacity: 0;
	transition-duration: var(--transition-duration-base);
}

.field.isWall::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 10%;
	background-color: currentColor;
}

.field.isFinish::before {
	content: '🏁';
	font-size: 3em;
}
