.field,
.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	transition-property: opacity;
	transition-duration: calc(5 * var(--transition-duration-base));
}

.field.isVisited .content {
	opacity: 0;
	transition-duration: var(--transition-duration-base);
}

.field.isWall::before,
.field.isTask::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.field.isWall::before {
	margin: var(--wall-halfGap);
	background-color: currentColor;
}

.field.isTask::before {
	border: 2px solid;
	margin: -1px;
	opacity: 0.01;
}

.field.isFinish {
	font-size: 3em;
}

.finishConfetti {
	position: absolute;
	top: 50%;
	left: 50%;
}
