.game {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.level,
.statistics {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.controls {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.controls::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 16px var(--background-color);
	background-color: var(--background-color);
	opacity: 0.99;
}

.level::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--text-color);
	opacity: 0.1;
}
