.main {
	flex-grow: 1;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto;
	gap: 16px;
}

.titleContent {
	display: inline-flex;
	align-items: center;
}

.logo {
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}

.action {
}

@media (max-width: 499px) {
	.titleLong {
		display: none;
	}
}
@media (min-width: 500px) {
	.titleShort {
		display: none;
	}
}
