.metaObject {
	--x: 0;
	--y: 0;
	--pixelOffset-x: 0;
	--pixelOffset-y: 0;
	--isAnimating: 0;

	position: relative;
	grid-area: var(--y) / var(--x);
	transform: translate(
		calc(1px * var(--pixelOffset-x)),
		calc(1px * var(--pixelOffset-y))
	);
	transition-property: transform;
	transition-duration: calc(
		var(--isAnimating) * var(--transition-duration-base)
	);
}
